node_modules
**/node_modules
**/*.tsbuildinfo
.git
.github
.turbo
coverage
**/.next
**/.next/**
*.md
!README.md
.env
.env.*
!.env.example
!**/.env.example
docker/*.log
**/test
**/__tests__
**/*.spec.ts
**/*.test.ts
apps/web/.next